<div class="ui tiny compact buttons">
    <button class="ui tiny compact blue button"
            data-tooltip="Explanation of Primary Action goes here"
            data-position="bottom left">
        <i class="clone icon"></i>
        Primary Action
    </button>
    <button class="ui basic tiny compact blue button">
        <i class="clone icon"></i>
        Secondary Action
    </button>
    <div class="ui basic tiny compact dropdown blue button" suiDropdown>
        <div class="text">Edit</div>
        <i class="dropdown icon"></i>
        <div class="menu" suiDropdownMenu>
            <div class="item" (click)="f()">
                <i class="clone icon"></i> Duplicate
            </div>
            <div class="item" (click)="f()">
                <i class="copy icon"></i> Copy  (CTRL+C)
            </div>
            <div class="item" (click)="f()">
                <i class="cut icon"></i> Cut  (CTRL+X)
            </div>
        </div>
    </div>
</div>
