<div class="ui two column grid" style="height: 100%;">
    <div class="two wide column">
        <button class="ui tiny compact blue button" (click)="open('Test')">
            <i class="add icon"></i>
            Add
        </button>
    </div>
    <div class="six wide column">
        <div class="tiny compact ui buttons">
            <div class="ui blue button"
                 mwlCalendarPreviousView
                 [view]="view"
                 [(viewDate)]="viewDate"
                 (viewDateChange)="true">
                Previous
            </div>
            <div class="ui blue button"
                 mwlCalendarToday
                 [(viewDate)]="viewDate">
                Current
            </div>
            <div class="ui blue button"
                 mwlCalendarNextView
                 [view]="view"
                 [(viewDate)]="viewDate"
                 (viewDateChange)="true">
                Next
            </div>
        </div>
        <div class="column">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
        <mwl-calendar-month-view
                [viewDate]="viewDate"
                [events]="globals.events"
                [excludeDays]="excludeDays"
                [cellTemplate]="customCellTemplate"
                (dayClicked)="clickedDate = $event.day.date">
        </mwl-calendar-month-view>

    </div>
    <div class="two wide column">
        <div class="ui icon input error">
            <input type="text">
            <i class="red warning circle icon"></i>
        </div>
        <div class="ui up pointing red basic label">Something's wrong here</div>
    </div>
</div>


<ng-template let-context let-modal="modal" #modalTemplate>

    <div class="header">Add new period</div>
    <div class="content">
        <form class="ui form">

            <div class="field">
                <label>Availability</label>
                <sui-select class="selection"
                            [(ngModel)]="selectedAvailability"
                            [options]="options"
                            labelField="name"
                            #select>
                    <sui-select-option *ngFor="let option of select.filteredOptions"
                                       [value]="option">
                    </sui-select-option>
                </sui-select>
            </div>
            <div class="field">
                <label>Start</label>
                <form class="ui left icon input">
                    <i class="calendar icon"></i>
                    <input suiDatepicker
                           [(ngModel)]="dateStart"
                           [pickerMode]="'date'"
                           [pickerFirstDayOfWeek]="1"
                           [pickerUseNativeOnMobile]="false">
                </form>
            </div>
            <div class="field">
                <label>End</label>
                <form class="ui left icon input">
                    <i class="calendar icon"></i>
                    <input suiDatepicker
                           [(ngModel)]="dateEnd"
                           [pickerMode]="'date'"
                           [pickerFirstDayOfWeek]="1"
                           [pickerUseNativeOnMobile]="false">
                </form>
            </div>

            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
</ng-template>