<div class="ui grid">
    <div class="two wide column">
        <button class="ui tiny compact blue button" (click)="openNewPeriodModalForm('Test')">
            <i class="add icon"></i>
            Period
        </button>
    </div>
    <div class="six wide column">
        <div class="ui icon input error">
            <input type="text">
            <i class="red warning circle icon"></i>
        </div>
        <div class="ui up pointing red basic label">Something's wrong here</div>
    </div>
    <div class="four wide column"></div>
</div>


<ng-template let-context let-modal="modal" #newPeriodModalForm>

    <div class="header">Add new period</div>
    <div class="content">
        <form class="ui form">

            <div class="field">
                <label>Availability</label>
                <sui-select class="selection"
                            [(ngModel)]="selectedAvailability"
                            [options]="options"
                            labelField="name"
                            #select>
                    <sui-select-option *ngFor="let option of select.filteredOptions"
                                       [value]="option">
                    </sui-select-option>
                </sui-select>
            </div>
            <div class="field">
                <label>Start</label>
                <form class="ui left icon input">
                    <i class="calendar icon"></i>
                    <input suiDatepicker
                           [(ngModel)]="dateStart"
                           [pickerMode]="'date'"
                           [pickerFirstDayOfWeek]="1"
                           [pickerUseNativeOnMobile]="false">
                </form>
            </div>
            <div class="field">
                <label>End</label>
                <form class="ui left icon input">
                    <i class="calendar icon"></i>
                    <input suiDatepicker
                           [(ngModel)]="dateEnd"
                           [pickerMode]="'date'"
                           [pickerFirstDayOfWeek]="1"
                           [pickerUseNativeOnMobile]="false">
                </form>
            </div>

            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
</ng-template>